*{
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: black;
    color: #ffc42e;
}

h1 {
    padding: 60px;
}

.buttons button{
    height: 80px;
    width: 80px;
    font-size: 3rem;
    margin: 40px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.buttons button:hover{
    transition: .300s;
    transform: scale(1.6);
}

.hide {
    display: none;
}

#results-page{
    font-size: 6rem;
}

.show {
    margin-top: 150px;

}

.restart-button {
    background-color: red;
}

